{% extends "_design.html" %}
{% block title %}Settings - Sentinel Commander{% endblock %}

{% block content %}
<div class="container my-4">
  <h2 class="mb-4">🛠️ System Settings</h2>

  <div class="row row-cols-1 row-cols-md-2 g-4">

    <!-- Users -->
    <div class="col">
      <a href="/web/v1/users" class="card bg-dark text-white h-100 border border-secondary text-decoration-none">
        <div class="card-body">
          <h5 class="card-title">👤 Users</h5>
          <p class="card-text text-muted">Manage user accounts, roles, and access control.</p>
        </div>
      </a>
    </div>

    <!-- Sources -->
    <div class="col">
      <a href="/web/v1/sources" class="card bg-dark text-white h-100 border border-secondary text-decoration-none">
        <div class="card-body">
          <h5 class="card-title">🔗 Sources</h5>
          <p class="card-text text-muted">Manage alert sources and API keys.</p>
        </div>
      </a>
    </div>

    <!-- Yaml Editor -->
    <div class="col">
      <a href="/web/v1/settings/yaml" class="card bg-dark text-white h-100 border border-secondary text-decoration-none">
        <div class="card-body">
          <h5 class="card-title">🧪 YAML Editor</h5>
          <p class="card-text text-muted">Edit and Deploy new Alert and Triage logic.</p>
        </div>
      </a>
    </div>

    <!-- Modules -->
    <div class="col">
      <a href="/web/v1/settings/modules" class="card bg-dark text-white h-100 border border-secondary text-decoration-none">
        <div class="card-body">
          <h5 class="card-title">⚙️ Modules</h5>
          <p class="card-text text-muted">Configure modules</p>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container my-4">
    <h2 class="mb-4">🛟️ Help</h2>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- Users -->
        <div class="col">
            <a href="/web/v1/docs" class="card bg-dark text-white h-100 border border-secondary text-decoration-none">
                <div class="card-body">
                    <h5 class="card-title">📘 Documentation</h5>
                    <p class="card-text text-muted">Read the docs</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
