{% for note in notes %}
  {% include "cases/cases_detail/modals/delete_note_modal.html" %}

  <div class="modal fade" id="editNoteModal-{{ note.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <form method="post" action="/web/v1/cases/{{ case.id }}/notes/{{ note.id }}/edit">
          <div class="modal-header">
            <h5 class="modal-title">Edit Note</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <textarea class="form-control" name="content" rows="4">{{ note.content }}</textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endfor %}